@model IEnumerable<Category>

@{
    foreach (var itemAnaKategory in Model.Where(c=>c.IsActive && c.ParentId==0 && c.IsTopMenu==true))
    {
        
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="/@itemAnaKategory.Name.ToLower()/Categories/Index/@itemAnaKategory.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @itemAnaKategory.Name
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    }
}
