@model IEnumerable<Category>

@{
    foreach (var itemAnaKategory in Model.Where(c=>c.IsActive && c.ParentId==0 && c.IsTopMenu==true))
    {
        
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="/@itemAnaKategory.Name.ToLower()/Categories/Index/@itemAnaKategory.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @itemAnaKategory.Name
            </a>

            <ul class="dropdown-menu">
                @foreach (var altKategory in Model.Where(c => c.IsActive && c.ParentId == itemAnaKategory.Id && c.IsTopMenu == true))
                {
                    <li>
                        <a class="btn dropdown-toggle" href="/@altKategory.Name.ToLower()/Categories/Index/@altKategory.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @altKategory.Name
            </a></li>
                }
               
               
            </ul>
        </div>
    }
}
